# Ignore all data
data/

# Except for examples folder in data
!data/examples/

# Ignore everything in output
output/
distilbert_model/
my_summarization_model/
my_summarization_model_original/

# Except for examples folder in output
!output/examples/

# Ignore logs
logs/
*.log

# Ignore temporary/system files
*.tmp
.DS_Store

# Ignore virtual environments
venv/
env/
.venv
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

models/
distilbert_model.tar.gz
my_summarization_model.tar.gz
model.tar.gz
